body {
  background-color: #eee;
  padding-top: 20px;
  font-family: 'Freckle Face', cursive;
  color: white;
  text-shadow: 0 0 2px black, -1px -1px 2px black, 1px 0 2px black,
    1px 1px 2px black;
  background: url('../images/Marshall_Wall.jpg') no-repeat;
  background-size: cover;
}

#youwin-image,
#gameover-image {
  align-content: center;
  max-height: 300px;
}

h2 {
  font-family: 'Freckle Face', cursive;
  background-color: rgba(159, 29, 15, 0.954);
}
.container {
  text-align: center;
}
h1,
h3,
h4,
h5,
h6 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  padding: 5px;
  background-color: rgba(159, 29, 15, 0.954);
}

#currentWord {
  letter-spacing: 3px;
}

.gameplay-column {
  padding-top: 20px;
  border: 5px solid black;
  text-align: center;
  margin-top: 20px;
  min-height: 500px;
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-reset {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  align-content: center;
  background-color: rgba(159, 29, 15, 0.954);
  color: white;
  cursor: pointer;
  z-index: 0;
}

.col-md-6 {
  margin-top: -100px;
  z-index: -1;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
}
