body {
  background-color: #eee;
  padding-top: 20px;
  font-family: "Freckle Face", cursive;
  color: white;
  text-shadow: 0 0 2px black, -1px -1px 2px black, 1px 0 2px black,
    1px 1px 2px black;
  background: url("../images/Marshall_Wall.jpg") no-repeat;
  background-size: cover;
}

#youwin-image,
#gameover-image {
  align-content: center;
  max-height: 300px;
}

h2 {
  font-family: "Freckle Face", cursive;
  background-color: rgba(159, 29, 15, 0.954);
}
.container {
  text-align: center;
}
h1,
h3,
h4,
h5,
h6 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5px;
  background-color: rgba(159, 29, 15, 0.954);
}

#currentWord {
  letter-spacing: 3px;
}

.gameplay-column {
  padding-top: 20px;
  border: 5px solid black;
  text-align: center;
  margin-top: 20px;
  min-height: 500px;
  background-color: rgba(255, 255, 255, 0.3);
}
